.Heading {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
}

.HeadingBottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.User {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 500px) {
    .HeadingBottom {
        margin-top: 0.5rem;
        justify-content: center;
    }
}