.InfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}   
    
.Author {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0.5rem;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}

@media (max-height: 400px) and (max-width: 650px) {
    .InfoContainer {
        margin-bottom: 2rem;
    }
}

@media (max-width: 500px) {
    .InfoContainer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        margin: 0;
        padding: 0 1rem;
    }

    .InfoContainer ul {
        margin-bottom: 1rem;
    }
}

@media (max-width: 500px) {
    .InfoContainer img {
        display: none;
    }
}
