.Container {
    max-width: 1200px;
    margin: auto;
    margin-top: 2rem;
    -webkit-box-shadow: 10px 11px 30px -15px rgba(0,0,0,0.65);
    -moz-box-shadow: 10px 11px 30px -15px rgba(0,0,0,0.65);
    box-shadow: 10px 11px 30px -15px rgba(0,0,0,0.65);
}

@media (max-width: 500px) {
    .Container {
        width: 100vw;
    }
} 

@media (max-width: 800px) {
    .Container {
        max-width: 700px;
    }
}

@media(max-width: 1100px) {
    .Container {
        max-width: 900px;
    }
}