.Table { 
    table-layout: fixed; 
    border-collapse: collapse;
    width: 100%; 
    text-align: left;
}

.Thead {
    width: 100%;
}

.Tbody tr:nth-child(even) {
    background: #f8f8f8;  
}

.Tbody tr:nth-child(odd)  {
    background: #e9e9e9;
}

.Th {
    padding: 0.5rem;
    border-bottom: 1px rgb(75, 75, 75) solid;
}

@media (max-width: 500px) {
    .Th:nth-child(4), .Th:nth-child(5), .Th:nth-child(6) {
        display: none;
    }

    .Thead tr {
        text-align: center;
    }

    .Thead tr th {
        width: calc(101% / 3);
    }
}