.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    left: calc(50% - 250px);
    right: calc(50% + 250px);
    width: 500px;
    top: 10%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

@media (max-width: 500px) {
    .Modal {
        left: 0;
        right: 0;
        width: 100%;
    }
}

@media (max-height: 450px) {
    .Modal {
        top: 2%;
        height: 90vh;
    }
}