.SideDrawer {
    position: fixed;
    width: 75vw;
    max-width: 75vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 200;
    background: rgb(241, 241, 241);
    padding: 2rem 0rem;
    transition: transform 0.3s ease-out;
    -webkit-backface-visibility: hidden;
}

@media (min-width: 769px) {
    .SideDrawer {
        display: none;
    }
}

@media (max-width: 400px) {
    .Logo img {
        height: 90%;
        width: 100%;
    }
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

.Logo {
    margin-bottom: 2rem;
}