.UserResult {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.UserImage {
    width: 30%;
    margin-right: 1rem;
}

.UserInfo {
    width: 70%;
}

@media (min-width: 769px) {
    .UserImage {
        width: 15%;
        margin-right: 1rem;
    }
    
    .UserInfo {
        width: 85%;
    }
}
