.Td {
    padding: 0.5rem;
    border-width: 2px 0px 2px 0px;
    border-style: solid;
    border-bottom-color: rgb(138, 138, 138);
    border-top-color: rgb(185, 185, 185);
    transition: all 0.3s ease;
}

.Td:nth-child(2) {
    font-size: 1.2rem;
}


.Td:nth-child(2):hover {
    cursor: pointer;
    transition: none;
    color: rgb(255, 174, 0);
}

@media (max-width: 500px) {
    .Td:nth-child(4), .Td:nth-child(5), .Td:nth-child(6) {
        display: none;
    }
}

@media (max-width: 500px) {
    .Td:nth-child(1) img {
        width: 70%;
    }

    .Td:nth-child(2) {
        font-size: 1rem;
    }
}