.Wrapper {
    display: inline-block;
}

.User {
    display: flex;
    justify-content: center;
    align-items: center;
}

.User a {
    font-size: 1.2rem;
    color: rgb(255, 233, 219);
    text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px;
}

.DisabledLink {
    cursor: pointer;
}
