.Img {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    display: block;
}

.large {
    width: 150px;
}

.big {
    width: 125px;
}

.medium {
    width: 100px;
}

.small {
    width: 70px;
}

.xsmall {
    height: 50px;
}

.round {
    border-radius: 50%;
}