.Panel {
    display: flex;
    flex-direction: column;   
    justify-content: center;
    margin: auto; 
}   

@media (max-width: 769px) {
    .Panel {
        margin-top: 1rem;
        padding: 1rem;
        text-align: center;
    }

    .Ul {
        margin-top: 0.3rem;
    }
}