.ReviewsCard {
    color: black;
    border: rgb(235, 235, 235) solid 1px;
    background: #fafafa;
    padding: 0.5rem;
}

.Status {
    color: white;
    text-align: center;
    padding: 1rem 0.5rem;
    width: 100%;
    margin: auto;
}

.Success {
    background: #6ccf33;
}

.Danger {
    background: rgb(218, 64, 64);
}