.InfoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.AuthorName:hover {
    cursor: pointer;
    color: rgb(255, 192, 17);
}

@media (max-width: 500px) {
    .InfoContainer img {
        display: none;
    }
}

@media (max-width: 769px) {
    .InfoContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-left: 0;
        margin: auto;
        padding: 0 1rem;
        text-align: center;
    }
}

@media (max-width: 1200px) and (min-width: 770px) {

    .InfoContainer {
        text-align: center;
        margin-left: 1rem;
    }
}

