.Inside {
    margin-top: 1rem;
}

.MessageBox {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

@media (max-height: 450px) {
    .MessageBox {
        height: 90vh;
    }
}

@media (max-height: 370px) {
    .MessageBox textarea {
        height: 5rem !important;
    }
}