.Space {
    height: 5rem;
    background: transparent;
}

.Footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(42,42,42);
    background: linear-gradient(90deg, rgba(42,42,42,1) 0%, rgba(74,74,74,1) 50%, rgba(42,42,42,1) 100%);
    height: 15vh;
}

.Container {
    max-width: 1000px;
    margin: auto;
}

.FooterContainer {
    margin-top: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FooterContainer > div {
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.FooterContainer p {
    color: rgb(253, 195, 6);
    padding: 0.25rem;
    font-size: 0.7rem;
}

@media (max-width: 769px) {
    .Footer {
        height: 15vh;
    }
}

@media (max-width: 450px) {
    .Space {
        height: 10rem;
        background: transparent;
    }

    .Footer {
        height: 25vh; 
    }
}

@media (max-height: 769px) {
    .Space {
        height: 15rem;
        background: transparent;
    }

    .Footer {
        height: 30vh; 
    }
}

@media (max-height: 500px) {
    .Space {
        height: 12rem;
        background: transparent;
    }

    .Footer {
        height: 40vh; 
    }
}

