.Page {
    max-width: 1200px;
    margin: auto;
}

@media (max-width: 500px) {
    .Page {
        display: block;
        width: 100vw;
    }
}

@media (max-width: 800px) {
    .Page {
        max-width: 700px;
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 1100px) {
    .Page {
        max-width: 900px;
    }
}

.InfoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
}

@media (max-width: 769px) {
    .InfoContainer img {
        display: none;
    }

    .InfoContainer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        margin-left: 0;
        margin: auto;
        padding: 0 1rem;
        text-align: center;
    }
}

@media (max-width: 1200px) and (min-width: 770px) {
    .InfoContainer img {
        display: none;
    }
    
    .InfoContainer {
        text-align: center;
        margin-left: 1rem;
    }
}
